/node_modules
/public/hot
/public/storage
/public/image
/public/voice
/public/video
/public/thumb
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
